/* Color classes for the 4 bandmates' signature colors */
:root {
    --doc-sung-color: #ce6941;
    --meouch-color: #2e60ac;
    --phobos-color: #ca842d;
    --havve-color: #8DA7C2;
}

span.docSung, h1.docSung, h2.docSung, strong.docSung {
    color: orangered;
    color: var(--doc-sung-color);
}

div.docSung {
    background-color: orangered;
    background-color: var(--doc-sung-color);

    border-color: orangered;
    border-color: var(--doc-sung-color);
}

span.meouch, h1.meouch, h2.meouch, strong.meouch {
    color: cornflowerblue;
    color: var(--meouch-color);
}

div.meouch {
    background-color: cornflowerblue;
    background-color: var(--meouch-color);

    border-color: cornflowerblue;
    border-color: var(--meouch-color);
}

span.phobos, h1.phobos, h2.phobos, strong.phobos {
    color: goldenrod;
    color: var(--phobos-color);
}

div.phobos {
    background-color: goldenrod;
    background-color: var(--phobos-color);

    border-color: goldenrod;
    border-color: var(--phobos-color);
}

span.havve, h1.havve, h2.havve, strong.havve {
    color: slategray;
    color: var(--havve-color);
}

div.havve {
    background-color: slategray;
    background-color: var(--havve-color);

    border-color: slategray;
    border-color: var(--havve-color);
}