body {
    background-color: #ec96b1;
    color: #591e3a
}
h1 {
    color: #BF5A62;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h2 {
    color: #BF5A62;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif
}
a {
    color: #F2E0D0
}
hr {
    height:2pt;
    border:none;
    background-color: #BF5A62;
}

.content {
    width: 850px;
    display: block;
    margin: 30px auto;
    border: 10px;
    padding: 15px 0 0 0;
    border-radius: 30px;
    border-style: solid;
    background-color: #591e3a;
}

.content p {
    color: white;
}

.content h1 {
    margin: 0 0 0.1em 0;
}

.content h2 {
    margin: 0;
}

.gallery img {
    display:block;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
.gallery a {
    font-size: medium;
    text-decoration: none;
    font-weight: bold;
    margin-top:0.1em;
    margin-bottom:0.8em;
    text-align: center
}
.gallery p {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#logo {
    display: block;
    margin: 0 auto;
}

#title {
    font-size: 60pt;
    text-align: center;
    color: #f2e0d0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#bandmates {
    width: 680px;
    height: 280px;
    display: block;
    margin:0 auto;
}

#bandmates img {
    object-fit: cover;
    width: 680px;
    height: 240px;
    transform: scale(1.3);
    margin-top: 20px;
}

#footer {
    height: 100px;
}

#footer p{
    vertical-align: middle;
    padding-top: 40px;
    padding-bottom: 40px;
}