body {
    background-color: #ec96b1;
    color: #591e3a
}
h1, h2 {
    color: #f2e0d0;
    font-family: 'Oxanium', sans-serif;
    font-weight: 600;
}
p, li{
    font-family: 'Roboto', sans-serif;
}
a {
    color: white
}
hr {
    height:2pt;
    border:none;
    background-color: #BF5A62;
}

.content {
    width: 850px;
    display: block;
    margin: 30px auto;
    border: 10px;
    padding: 15px 0 0 0;
    border-radius: 30px;
    border-style: solid;
    background-color: #591e3a;
}

.content p, .content li {
    color: #D2C6C8;
}

.content h1 {
    margin: 0 0 0.1em 0;
}

.content h2 {
    margin: 0;
}

.gallery {
    /* min-height: 800px; */
    width: 849px;
    table-layout: fixed;
}

.gallery * td {
    width: 283px;
}

.gallery * tr {
    height: 330px;
}

.gallery img {
    display:block;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    /* -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease; */
    transition: all 0.5s ease;
}
.gallery img:hover {
    width: 275px;
    height: 275px;
}

.gallery a {
    font-size: medium;
    text-decoration: none;
    font-weight: bold;
    margin-top:0.1em;
    margin-bottom:0.8em;
    text-align: center
}
.gallery p {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
/* =================================================== */
/* Color classes for the 4 bandmates' signature colors */
span.docSung, h1.docSung, h2.docSung, strong.docSung {
    color: #ce6941;
}

div.docSung {
    background-color: #ce6941;
    border-color: #ce6941;
}

span.meouch, h1.meouch, h2.meouch, strong.meouch {
    color: #2e60ac;
}

div.meouch {
    background-color: #2e60ac;
    border-color: #2e60ac;
}

span.phobos, h1.phobos, h2.phobos, strong.phobos {
    color: #ca842d;
}

div.phobos {
    background-color: #ca842d;
    border-color: #ca842d;
}

span.havve, h1.havve, h2.havve, strong.havve {
    color: #8DA7C2;
}

div.havve {
    background-color: #8DA7C2;
    border-color: #8DA7C2;
}

/* ================================================= */

#logo {
    display: block;
    margin: 0 auto;
}

#title {
    font-size: 60pt;
    font-weight: 800;
    text-align: center;
    color: #f2e0d0;
    -webkit-text-stroke: #591e3a 0.03em;
    text-shadow: #BF5A62;
}

#bandmates {
    width: 680px;
    height: 280px;
    display: block;
    margin:0 auto;
}

#bandmates img {
    object-fit: cover;
    width: 680px;
    height: 240px;
    transform: scale(1.3);
    margin-top: 20px;
}

#footer p{
    vertical-align: middle;
    margin: 40px auto;
    text-align: center;
}